.body {
    font-family: Corbel, serif;
    font-size: large;
    background-color: #C7FFED;
    line-height: 150%;
    font-weight: normal;
    vertical-align: middle;
    white-space: normal;
    text-transform: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #023535;
    align-items: flex-start;
}

.main {
    display: flex;
}

.content__structure {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 1080px;
}

.content__section {
    background-color: #D8FFDB;
    margin: 5px 10px;
    padding: 20px;
}

.menu__structure {
    background-color: #008F8C;
    color: #D8FFDB;
    padding: 20px 10px 20px 20px;
    display: flex;
    flex-direction: column;
    min-width: 10%;
}

a {
    color: #C7FFED;
}

a:visited {
    color: #D8FFDB;
}

a:hover {
    color: #D8FFDB;
}

.menu__item {
    padding-left: 10px;
    margin-bottom: 20px;
}

.menu__item:hover {
    background: #023535;
}

.menu__item_active {
    background: #00AF8C;
    border-left: 2px solid #00CF8C;
}

.content__text_code {
    color: #023535;
    line-height: 100%;
    font-weight: bolder;
}

.content__text_preformatted {
    line-height: 100%;
    white-space: pre;
}

.footer {
    background-color: #015958;
    text-align: center;
    color: #C7FFED;
    font-size: 90%;
    display: flex;
    flex-direction: column;
}

.footer__item_time {
    margin: 0;
}

.content__image {
    padding: 20px;
    background-color: #C7FFED;
    box-shadow: 0.3em 0.3em 1em rgba(2, 53, 53, 0.5);
}

@media screen and (max-device-width: 1200px) {
    .content__image { display: none }
}

@media screen and (min-device-width: 1201px) {
    .content__image_replace { display: none }
}

.header__logo {
    padding-left: 10%;
    width: 25%;
}

.content__text_underline {
    text-decoration: underline;
}

.header__button_login {
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 20px;
    color: #C7FFED;
    font-size: larger;
    font-weight: bold;
}

.header__button_register {
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 100px;
    color: #C7FFED;
    font-size: larger;
    font-weight: bold;
}

.content__table {
    display: grid;
    border-collapse:collapse;
    border-spacing:0;
    margin: 0 auto;
}

.content__table th{
    border-color: #023535;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px;
}

.content__table td {
    border-color: #023535;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px;
}

.content__table tr td{
    text-align: left;
    vertical-align: top;
}

.content__table tr {
    background: #C7FFED;
}

.content__table tr:nth-child(2n){
    background: #D8FFDB;
}

.content__form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content__section_publish {
    background-color: #D8FFDB;
    margin: 5px 10px;
    padding: 20px;
    min-width: 1080px;
}

.content__section_generated {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content__section_post {
    background-color: #D8FFDB;
    margin: 5px 10px;
    padding: 20px;
}

.content__image_preloader {
    margin-left: 100px;
}

.content__text_error {
    display: none;
    font-size: xxx-large;
}