.body {
    font-family: Corbel, serif;
    font-size: large;
    background-color: #C7FFED;
    line-height: 150%;
    font-weight: normal;
    vertical-align: middle;
    white-space: normal;
    text-transform: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #023535;
    align-items: flex-start;
}

.main {
    display: flex;
}

.section {
    background-color: #D8FFDB;
    margin: 5px 10px;
    padding: 20px;
}

.main_elements {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 1080px;
}

.login_and_register {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 1080px;
}

.left_panel {
    background-color: #008F8C;
    color: #D8FFDB;
    padding: 20px 10px 20px 20px;
    display: flex;
    flex-direction: column;
    min-width: 10%;
}

.nav {
    margin-bottom: 20px;
}

a {
    color: #C7FFED;
}

a:visited {
    color: #D8FFDB;
}

a:hover {
    color: #D8FFDB;
}

.left_panel_element {
    padding-left: 10px;
    margin-bottom: 20px;
}

.left_panel_element:hover {
    background: #023535;
}

.active_element {
    background: #00AF8C;
    border-left: 2px solid #00CF8C;
}

.code {
    color: #023535;
    line-height: 100%;
    font-weight: bolder;
}

.pre {
    line-height: 100%;
    white-space: pre;
}

.footer {
    background-color: #015958;
    text-align: center;
    color: #C7FFED;
    font-size: 90%;
    display: flex;
    flex-direction: column;
}

.load_time {
    margin: 0;
}

.image_in_text {
    padding: 20px;
    background-color: #C7FFED;
    box-shadow: 0.3em 0.3em 1em rgba(2, 53, 53, 0.5);
}

@media screen and (max-device-width: 1200px) {
    .image_in_text { display: none }
}

@media screen and (min-device-width: 1201px) {
    .image_replace { display: none }
}

.image_in_header {
    padding-left: 10%;
    width: 25%;
}

.underline {
    text-decoration: underline;
}

.log_in_button {
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 20px;
    color: #C7FFED;
    font-size: larger;
    font-weight: bold;
}

.register_button {
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 100px;
    color: #C7FFED;
    font-size: larger;
    font-weight: bold;
}

.table {
    display: grid;
    border-collapse:collapse;
    border-spacing:0;
    margin: 0 auto;
}

.table th{
    border-color: #023535;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px;
}

.table td {
    border-color: #023535;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px;
}

.table tr td{
    text-align: left;
    vertical-align: top;
}

.table tr {
    background: #C7FFED;
}

.table tr:nth-child(2n){
    background: #D8FFDB;
}

.new_post {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.new_post_section {
    background-color: #D8FFDB;
    margin: 5px 10px;
    padding: 20px;
    min-width: 1080px;
}

.all_posts {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post_content {
    background-color: #D8FFDB;
    margin: 5px 10px;
    padding: 20px;
}